<%= provide(:title, "About") %>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-offset-2">
      <h1>About</h1>
      <p>This sample app is based on the excellent Ruby on Rails tutorial by <a href="https://www.railstutorial.org" target="_blank" rel="noopener noreferrer">Michael Hartl</a>.</p>
      
      <p>
        The GitHub repository for this project is <a href="https://github.com/mhuskey/microblog-app" target="_blank" rel="noopener noreferrer">here</a>. Learn more about my projects at my <a href="https://matthewhuskey.com" target="_blank" rel="noopener noreferrer">website</a>.
      </p>
    </div>
  </div>
</div>