<%= provide(:title, 'Contact') %>

<h1>Contact</h1>

<div class="row">
  <div class="col-md-8 col-offset-2">
    <h1>Contact</h1>
    <p>
      Learn more about my projects and contact me at my <a href="https://matthewhuskey.com" target="_blank" rel="noopener noreferrer">website</a>.
    </p>
  </div>
</div>
