<%= provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact me about this sample app at my <a href="https://matthewhuskey.com/contact.html/" target="_blank" rel="noopener noreferrer">contact page</a>.
</p>