<footer class="footer">
  
  <small>
    Microblog sample app by <a href="https://www.matthewhuskey.com/" target="_blank" rel="noopener noreferrer">Matthew Huskey</a>
  </small>
  
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
  
</footer>